

.carOwnershipHidden {
    display: none;
}

.carOwnershipVisible {
    display:block;
}

.companyCarDivHidden {
    display: none;
}
.rentalCarDivHidden {
    display: none;
}
.ownedByChildDivHidden {
    display: none;
}

.companyCarDivVisible {
    display:block;
}
.rentalCarDivVisible {
    display:block;
}
.ownedByChildDivVisible {
    display:block;
}


input, label {
    display:block;
}

body {
    font-family: Arial;
}

.win-textbox {
    width: 80%;

}
input {
    width: 80%;
}

.autosuggestDiv {
    width: 80%;
}

.lisenceImageHiden {
    display: none;
}

.lisenceImageVisible {
    display:block;
}