

.carOwnershipHidden {
    display: none;
}

.carOwnershipVisible {
    display: block;
}

.companyCarDivHidden {
    display: none;
}

.rentalCarDivHidden {
    display: none;
}

.ownedByChildDivHidden {
    display: none;
}

.companyCarDivVisible {
    display: block;
}

.rentalCarDivVisible {
    display: block;
}

.ownedByChildDivVisible {
    display: block;
}


input, label {
    display: block;
}

body {
    font-family: Arial;
}

.win-textbox {
    width: 80%;
}

input {
    width: 80%;
}

.autosuggestDiv {
    width: 80%;
}

.lisenceImageHiden {
    display: none;
}

.lisenceImageVisible {
    display: block;
}


#listView {
    width: 100%;
    height:100%;
}


/* Template for the items in the ListViews */
.smallListIconTextItem {
    width: 242px;
    height: 70px;
    padding: 5px;
    overflow: hidden;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.mainDivClass {
    width: 100%;
    height:100%;
}

.smallListIconTextItem img.smallListIconTextItem-Image {
    width: 60px;
    height: 60px;
    margin: 5px;
    margin-right: 20px;
}

.smallListIconTextItem .smallListIconTextItem-Detail {
    margin: 5px;
}

#messageList {
	width: 390px;
	height: calc(100% - 38px);
	border: 1px solid silver;
	margin-top: 4px;
}

#messageList.wide {
	min-width: 390px;
	width: calc(100% - 5px);
}

.win-pivot-item .win-pivot-item-content {
	padding: 0 0 0 12px;
}

.message {
	width: calc(100% - 48px);
	min-width: 312px;
	height: 48px;
	margin-bottom: 1px;
	padding: 16px 24px;
	background-color: #2B2B2B;
}

.userIcon {
	width: 48px;
	height: 48px;
	float: left;
	margin-right: 12px;
}

.messageContent {
	width: calc(100% - 60px);
	height: 48px;
	float: left;
}

.contactInformation {
	width: 100%;
	height: 16px;
}

.contactName {
	height: 16px;
	float: left;
	font-weight: 600;
	font-size: 15px;
	line-height: 15px;
}

.contactTime {
	width: 40px;
	height: 16px;
	float: right;
	text-align: right;
	font-size: 12px;
	line-height: 12px;
	color: rgba(255, 255, 255, .4);
}

.messagePreview {
	width: 100%;
	height: 32px;
	font-size: 12px;
	line-height: 16px;
	overflow: hidden;
	color: rgba(255, 255, 255, .4);
}



.headerFooterPlaceholder {
    display: none;
}

.listView .header,
.listView .footer {
    height: 80px;
    padding: 10px;
    background-color: #333;
}

.listView .footer .progress.hide {
    display: none;
}

/* Override the background color for even/odd win-containers */
#listView.stripes .win-container.win-container-odd {
    background-color: #777;
}

#listView.stripes .win-container.win-container-even {
    background-color: #444;
}
